name: Update Veracode Secrets

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  update-secrets:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Authenticate to the cluster
        run: |
          echo "${{ secrets.KUBE_CERT }}" > ca.crt
          kubectl config set-cluster ${KUBE_CLUSTER} --certificate-authority=./ca.crt --server=https://${KUBE_CLUSTER}
          kubectl config set-credentials deploy-user --token=${{ secrets.KUBE_TOKEN }}
          kubectl config set-context ${KUBE_CLUSTER} --cluster=${KUBE_CLUSTER} --user=deploy-user --namespace=${{ secrets.KUBE_NAMESPACE }}
          kubectl config use-context ${KUBE_CLUSTER}
        env:
          KUBE_CLUSTER: ${{ secrets.KUBE_CLUSTER }}

      - name: Update Veracode Secret
        env:
          API_ID: ${{ secrets.HMPPS_VERACODE_API_ID_0 }}
          API_KEY: ${{ secrets.HMPPS_VERACODE_API_KEY_0 }}
        run: |
          kubectl patch secret hmpps-veracode-discovery \
            --type merge \
            -p "{\"stringData\":{\"VERACODE_API_KEY_ID\":\"$API_ID\",\"VERACODE_API_KEY_SECRET\":\"$API_KEY\"}}"
